<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dynamicRinforzando1</key>
    <dict>
      <key>public.kern2.dynamicPiano</key>
      <integer>-50</integer>
    </dict>
    <key>dynamicSforzando1</key>
    <dict>
      <key>dynamicFF</key>
      <integer>-180</integer>
      <key>dynamicForte</key>
      <integer>-172</integer>
      <key>public.kern2.dynamicPiano</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.dynamicForte</key>
    <dict>
      <key>dynamicFF</key>
      <integer>0</integer>
      <key>dynamicForte</key>
      <integer>-60</integer>
      <key>dynamicZ</key>
      <integer>0</integer>
    </dict>
    <key>timeSig1</key>
    <dict>
      <key>timeSig0</key>
      <integer>-50</integer>
      <key>timeSig1</key>
      <integer>-60</integer>
      <key>timeSig2</key>
      <integer>-29</integer>
      <key>timeSig3</key>
      <integer>-35</integer>
      <key>timeSig4</key>
      <integer>-40</integer>
      <key>timeSig5</key>
      <integer>-30</integer>
      <key>timeSig6</key>
      <integer>-44</integer>
      <key>timeSig7</key>
      <integer>-36</integer>
      <key>timeSig8</key>
      <integer>-30</integer>
      <key>timeSig9</key>
      <integer>-60</integer>
    </dict>
    <key>timeSig2</key>
    <dict>
      <key>timeSig0</key>
      <integer>-21</integer>
      <key>timeSig1</key>
      <integer>-30</integer>
      <key>timeSig2</key>
      <integer>-30</integer>
      <key>timeSig3</key>
      <integer>-11</integer>
      <key>timeSig4</key>
      <integer>-10</integer>
      <key>timeSig9</key>
      <integer>-10</integer>
    </dict>
    <key>timeSig3</key>
    <dict>
      <key>timeSig2</key>
      <integer>-30</integer>
    </dict>
    <key>timeSig6</key>
    <dict>
      <key>timeSig4</key>
      <integer>-26</integer>
    </dict>
    <key>wiggleTrill</key>
    <dict>
      <key>wiggleTrillFast</key>
      <integer>-4</integer>
      <key>wiggleTrillFaster</key>
      <integer>-8</integer>
      <key>wiggleTrillFasterStill</key>
      <integer>-2</integer>
      <key>wiggleTrillSlowerStill</key>
      <integer>0</integer>
      <key>wiggleTrillSlowest</key>
      <integer>-15</integer>
    </dict>
    <key>wiggleTrillFast</key>
    <dict>
      <key>wiggleTrillFaster</key>
      <integer>-3</integer>
      <key>wiggleTrillFastest</key>
      <integer>-4</integer>
      <key>wiggleTrillSlow</key>
      <integer>27</integer>
    </dict>
    <key>wiggleTrillFaster</key>
    <dict>
      <key>wiggleTrillFasterStill</key>
      <integer>9</integer>
      <key>wiggleTrillFastest</key>
      <integer>-3</integer>
    </dict>
    <key>wiggleTrillFasterStill</key>
    <dict>
      <key>wiggleTrillFast</key>
      <integer>0</integer>
      <key>wiggleTrillFastest</key>
      <integer>0</integer>
    </dict>
    <key>wiggleTrillFastest</key>
    <dict>
      <key>wiggleTrill</key>
      <integer>-3</integer>
      <key>wiggleTrillFast</key>
      <integer>-2</integer>
    </dict>
    <key>wiggleTrillSlow</key>
    <dict>
      <key>wiggleTrill</key>
      <integer>-22</integer>
      <key>wiggleTrillFast</key>
      <integer>-27</integer>
      <key>wiggleTrillFaster</key>
      <integer>-22</integer>
      <key>wiggleTrillSlower</key>
      <integer>0</integer>
      <key>wiggleTrillSlowerStill</key>
      <integer>-31</integer>
    </dict>
    <key>wiggleTrillSlower</key>
    <dict>
      <key>wiggleTrill</key>
      <integer>-20</integer>
      <key>wiggleTrillFaster</key>
      <integer>-31</integer>
      <key>wiggleTrillSlow</key>
      <integer>0</integer>
      <key>wiggleTrillSlowerStill</key>
      <integer>0</integer>
    </dict>
    <key>wiggleTrillSlowerStill</key>
    <dict>
      <key>wiggleTrillSlow</key>
      <integer>0</integer>
      <key>wiggleTrillSlower</key>
      <integer>35</integer>
    </dict>
  </dict>
</plist>
