<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3436</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Don't use Production Names</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Master Icon Glyph Name</string>
        <key>value</key>
        <string>gClef</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array>
      <string>brace</string>
      <string>reversedBrace</string>
      <string>bracketTop</string>
      <string>bracketBottom</string>
      <string>reversedBracketTop</string>
      <string>reversedBracketBottom</string>
      <string>systemDivider</string>
      <string>systemDividerLong</string>
      <string>systemDividerExtraLong</string>
      <string>segno</string>
      <string>coda</string>
      <string>gClef</string>
      <string>gClef15mb</string>
      <string>gClef8vb</string>
      <string>gClef8va</string>
      <string>gClef15ma</string>
      <string>gClef8vbOld</string>
      <string>gClef8vbCClef</string>
      <string>gClef8vbParens</string>
      <string>cClef</string>
      <string>cClef8vb</string>
      <string>fClef</string>
      <string>fClef15mb</string>
      <string>fClef8vb</string>
      <string>fClef8va</string>
      <string>fClef15ma</string>
      <string>gClefReversed</string>
      <string>gClefTurned</string>
      <string>fClefReversed</string>
      <string>fClefTurned</string>
      <string>gClefChange</string>
      <string>cClefChange</string>
      <string>fClefChange</string>
      <string>timeSig0</string>
      <string>timeSig1</string>
      <string>timeSig2</string>
      <string>timeSig3</string>
      <string>timeSig4</string>
      <string>timeSig5</string>
      <string>timeSig6</string>
      <string>timeSig7</string>
      <string>timeSig8</string>
      <string>timeSig9</string>
      <string>timeSigCommon</string>
      <string>timeSigCutCommon</string>
      <string>timeSigComma</string>
      <string>noteHeadDoubleWhole</string>
      <string>noteheadWhole</string>
      <string>noteheadHalf</string>
      <string>noteheadBlack</string>
      <string>noteheadXOrnate</string>
      <string>noteheadHalfWithX</string>
      <string>noteheadSlashedBlack1</string>
      <string>noteheadSlashedBlack2</string>
      <string>noteheadSlashedHalf1</string>
      <string>noteDoubleWhole</string>
      <string>noteWhole</string>
      <string>noteHalfUp</string>
      <string>noteHalfDown</string>
      <string>quarternoteStemUp</string>
      <string>noteQuarterDown</string>
      <string>note8thUp</string>
      <string>note8thDown</string>
      <string>note16thUp</string>
      <string>note16thDown</string>
      <string>tremolo1</string>
      <string>tremolo2</string>
      <string>tremolo3</string>
      <string>flag8thUp</string>
      <string>flag8thDown</string>
      <string>flag16thUp</string>
      <string>flag16Down</string>
      <string>flag32ndUp</string>
      <string>flag32ndDown</string>
      <string>flag64thUp</string>
      <string>flag64thDown</string>
      <string>flag128thUp</string>
      <string>flag128thDown</string>
      <string>flag256thUp</string>
      <string>flag256thDown</string>
      <string>flag512thUp</string>
      <string>flag512thDown</string>
      <string>flag1024thUp</string>
      <string>flag1024thDown</string>
      <string>accidentalFlat</string>
      <string>accidentalNatural</string>
      <string>accidentalSharp</string>
      <string>accidentalDoubleSharp</string>
      <string>accidentalDoupleFlat</string>
      <string>accidentalTripleSharp</string>
      <string>accidentalTripleFlat</string>
      <string>accidentalNaturalFlat</string>
      <string>accidentalNaturalSharp</string>
      <string>accidentalSharpSharp</string>
      <string>accidentalQuarterToneFlatStein</string>
      <string>accidentalThreeQuarterTonesFlatZimmermann</string>
      <string>articAccentAbove</string>
      <string>articAccentBelow</string>
      <string>articTenutoAbove</string>
      <string>articTenutoBelow</string>
      <string>articMarcatoAbove</string>
      <string>articMarcatoBelow</string>
      <string>articMarcatoStaccatoAbove</string>
      <string>articMarcatoStaccatoBelow</string>
      <string>fermataAbove</string>
      <string>fermataBelow</string>
      <string>fermataShortHenzeAbove</string>
      <string>fermataShortHenzeBelow</string>
      <string>breathMarkComma</string>
      <string>restMaxima</string>
      <string>restLonga</string>
      <string>restDoubleWhole</string>
      <string>restWhole</string>
      <string>restHalf</string>
      <string>restQuarter</string>
      <string>rest8th</string>
      <string>rest16th</string>
      <string>rest32nd</string>
      <string>rest64th</string>
      <string>rest128th</string>
      <string>rest256th</string>
      <string>rest512th</string>
      <string>rest1024th</string>
      <string>restHBar</string>
      <string>restHBarLeft</string>
      <string>restHBarMiddle</string>
      <string>restHBarRight</string>
      <string>restQuarterOld</string>
      <string>restDoubleWholeLegerLine</string>
      <string>restWholeLegerLine</string>
      <string>restHalfLegerLine</string>
      <string>restQuarterZ</string>
      <string>ottava</string>
      <string>ottavaAlta</string>
      <string>ottavaBassa</string>
      <string>ottavaBassaBa</string>
      <string>ottavaBassaVb</string>
      <string>dynamicPiano</string>
      <string>dynamicMezzo</string>
      <string>dynamicForte</string>
      <string>dynamicRinforzando</string>
      <string>dynamicSforzando</string>
      <string>dynamicZ</string>
      <string>dynamicPPPPPP</string>
      <string>dynamicPPPPP</string>
      <string>dynamicPPPP</string>
      <string>dynamicPPP</string>
      <string>dynamicPP</string>
      <string>dynamicMP</string>
      <string>dynamicMF</string>
      <string>dynamicPF</string>
      <string>dynamicFF</string>
      <string>dynamicFFF</string>
      <string>dynamicFFFF</string>
      <string>dynamicFFFFF</string>
      <string>dynamicFFFFFF</string>
      <string>dynamicFortePiano</string>
      <string>dynamicForzando</string>
      <string>dynamicSforzando1</string>
      <string>dynamicSforzandoPiano</string>
      <string>dynamicSforzandoPianissimo</string>
      <string>dynamicSforzato</string>
      <string>dynamicSforzatoPiano</string>
      <string>dynamicSforzatoFF</string>
      <string>dynamicRinforzando1</string>
      <string>dynamicRinforzando2</string>
      <string>ornamentTrill</string>
      <string>ornamentTurn</string>
      <string>ornamentTurnInverted</string>
      <string>ornamentTurnSlash</string>
      <string>ornamentTurnUp</string>
      <string>ornamentTurnUpS</string>
      <string>ornamentShortTrill</string>
      <string>ornamentMordent</string>
      <string>ornamentTreblement</string>
      <string>tuplet0</string>
      <string>tuplet1</string>
      <string>tuplet2</string>
      <string>tuplet3</string>
      <string>tuplet4</string>
      <string>tuplet5</string>
      <string>tuplet6</string>
      <string>tuplet7</string>
      <string>tuplet8</string>
      <string>tuplet9</string>
      <string>metNoteDoubleWhole</string>
      <string>metNoteWhole</string>
      <string>metNoteHalfUp</string>
      <string>metNoteHalfDown</string>
      <string>metNoteQuarterUp</string>
      <string>metNoteQuarterDown</string>
      <string>metNote8thUp</string>
      <string>metNote8thDown</string>
      <string>cClefFrench</string>
    </array>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>brace</string>
      <string>reversedBrace</string>
      <string>bracketTop</string>
      <string>bracketBottom</string>
      <string>reversedBracketTop</string>
      <string>reversedBracketBottom</string>
      <string>systemDivider</string>
      <string>systemDividerLong</string>
      <string>systemDividerExtraLong</string>
      <string>segno</string>
      <string>coda</string>
      <string>gClef</string>
      <string>gClef15mb</string>
      <string>gClef8vb</string>
      <string>gClef8va</string>
      <string>gClef15ma</string>
      <string>gClef8vbOld</string>
      <string>gClef8vbCClef</string>
      <string>gClef8vbParens</string>
      <string>cClef</string>
      <string>cClef8vb</string>
      <string>fClef</string>
      <string>fClef15mb</string>
      <string>fClef8vb</string>
      <string>fClef8va</string>
      <string>fClef15ma</string>
      <string>gClefReversed</string>
      <string>gClefTurned</string>
      <string>fClefReversed</string>
      <string>fClefTurned</string>
      <string>gClefChange</string>
      <string>cClefChange</string>
      <string>fClefChange</string>
      <string>timeSig0</string>
      <string>timeSig1</string>
      <string>timeSig2</string>
      <string>timeSig3</string>
      <string>timeSig4</string>
      <string>timeSig5</string>
      <string>timeSig6</string>
      <string>timeSig7</string>
      <string>timeSig8</string>
      <string>timeSig9</string>
      <string>timeSigCommon</string>
      <string>timeSigCutCommon</string>
      <string>timeSigComma</string>
      <string>noteHeadDoubleWhole</string>
      <string>noteheadWhole</string>
      <string>noteheadHalf</string>
      <string>noteheadBlack</string>
      <string>noteheadXOrnate</string>
      <string>noteheadHalfWithX</string>
      <string>noteheadSlashedBlack1</string>
      <string>noteheadSlashedBlack2</string>
      <string>noteheadSlashedHalf1</string>
      <string>noteDoubleWhole</string>
      <string>noteWhole</string>
      <string>noteHalfUp</string>
      <string>noteHalfDown</string>
      <string>quarternoteStemUp</string>
      <string>noteQuarterDown</string>
      <string>note8thUp</string>
      <string>note8thDown</string>
      <string>note16thUp</string>
      <string>note16thDown</string>
      <string>tremolo1</string>
      <string>tremolo2</string>
      <string>tremolo3</string>
      <string>flag8thUp</string>
      <string>flag8thDown</string>
      <string>flag16thUp</string>
      <string>flag16Down</string>
      <string>flag32ndUp</string>
      <string>flag32ndDown</string>
      <string>flag64thUp</string>
      <string>flag64thDown</string>
      <string>flag128thUp</string>
      <string>flag128thDown</string>
      <string>flag256thUp</string>
      <string>flag256thDown</string>
      <string>flag512thUp</string>
      <string>flag512thDown</string>
      <string>flag1024thUp</string>
      <string>flag1024thDown</string>
      <string>accidentalFlat</string>
      <string>accidentalNatural</string>
      <string>accidentalSharp</string>
      <string>accidentalDoubleSharp</string>
      <string>accidentalDoupleFlat</string>
      <string>accidentalTripleSharp</string>
      <string>accidentalTripleFlat</string>
      <string>accidentalNaturalFlat</string>
      <string>accidentalNaturalSharp</string>
      <string>accidentalSharpSharp</string>
      <string>accidentalQuarterToneFlatStein</string>
      <string>accidentalThreeQuarterTonesFlatZimmermann</string>
      <string>articAccentAbove</string>
      <string>articAccentBelow</string>
      <string>articTenutoAbove</string>
      <string>articTenutoBelow</string>
      <string>articMarcatoAbove</string>
      <string>articMarcatoBelow</string>
      <string>articMarcatoStaccatoAbove</string>
      <string>articMarcatoStaccatoBelow</string>
      <string>fermataAbove</string>
      <string>fermataBelow</string>
      <string>fermataShortHenzeAbove</string>
      <string>fermataShortHenzeBelow</string>
      <string>breathMarkComma</string>
      <string>restMaxima</string>
      <string>restLonga</string>
      <string>restDoubleWhole</string>
      <string>restWhole</string>
      <string>restHalf</string>
      <string>restQuarter</string>
      <string>rest8th</string>
      <string>rest16th</string>
      <string>rest32nd</string>
      <string>rest64th</string>
      <string>rest128th</string>
      <string>rest256th</string>
      <string>rest512th</string>
      <string>rest1024th</string>
      <string>restHBar</string>
      <string>restHBarLeft</string>
      <string>restHBarMiddle</string>
      <string>restHBarRight</string>
      <string>restQuarterOld</string>
      <string>restDoubleWholeLegerLine</string>
      <string>restWholeLegerLine</string>
      <string>restHalfLegerLine</string>
      <string>restQuarterZ</string>
      <string>ottava</string>
      <string>ottavaAlta</string>
      <string>ottavaBassa</string>
      <string>ottavaBassaBa</string>
      <string>ottavaBassaVb</string>
      <string>dynamicPiano</string>
      <string>dynamicMezzo</string>
      <string>dynamicForte</string>
      <string>dynamicRinforzando</string>
      <string>dynamicSforzando</string>
      <string>dynamicZ</string>
      <string>dynamicPPPPPP</string>
      <string>dynamicPPPPP</string>
      <string>dynamicPPPP</string>
      <string>dynamicPPP</string>
      <string>dynamicPP</string>
      <string>dynamicMP</string>
      <string>dynamicMF</string>
      <string>dynamicPF</string>
      <string>dynamicFF</string>
      <string>dynamicFFF</string>
      <string>dynamicFFFF</string>
      <string>dynamicFFFFF</string>
      <string>dynamicFFFFFF</string>
      <string>dynamicFortePiano</string>
      <string>dynamicForzando</string>
      <string>dynamicSforzando1</string>
      <string>dynamicSforzandoPiano</string>
      <string>dynamicSforzandoPianissimo</string>
      <string>dynamicSforzato</string>
      <string>dynamicSforzatoPiano</string>
      <string>dynamicSforzatoFF</string>
      <string>dynamicRinforzando1</string>
      <string>dynamicRinforzando2</string>
      <string>ornamentTrill</string>
      <string>ornamentTurn</string>
      <string>ornamentTurnInverted</string>
      <string>ornamentTurnSlash</string>
      <string>ornamentTurnUp</string>
      <string>ornamentTurnUpS</string>
      <string>ornamentShortTrill</string>
      <string>ornamentMordent</string>
      <string>ornamentTreblement</string>
      <string>tuplet0</string>
      <string>tuplet1</string>
      <string>tuplet2</string>
      <string>tuplet3</string>
      <string>tuplet4</string>
      <string>tuplet5</string>
      <string>tuplet6</string>
      <string>tuplet7</string>
      <string>tuplet8</string>
      <string>tuplet9</string>
      <string>metNoteDoubleWhole</string>
      <string>metNoteWhole</string>
      <string>metNoteHalfUp</string>
      <string>metNoteHalfDown</string>
      <string>metNoteQuarterUp</string>
      <string>metNoteQuarterDown</string>
      <string>metNote8thUp</string>
      <string>metNote8thDown</string>
      <string>cClefFrench</string>
      <string>clef8</string>
      <string>clef15</string>
      <string>noteheadXBlack</string>
      <string>noteheadParenthesis</string>
      <string>noteheadSlashedHalf2</string>
      <string>noteheadSlashedWhole1</string>
      <string>noteheadSlashedWhole2</string>
      <string>noteheadSlashedDoubleWhole1</string>
      <string>noteheadSlashedDoubleWhole2</string>
      <string>noteheadParenthesisLeft</string>
      <string>noteheadParenthesisRight</string>
      <string>noteheadWholeFilled</string>
      <string>noteheadHalfFilled</string>
      <string>noteheadSlashVerticalEnds</string>
      <string>noteheadSlashHorizontalEnds</string>
      <string>noteheadSlashWhiteWhole</string>
      <string>noteheadSlashWhiteHalf</string>
      <string>noteheadSlashDiamondWhite</string>
      <string>noteheadSlashVerticalEndsSmall</string>
      <string>noteheadSlashX</string>
      <string>noteheadSlashVerticalEndsMuted</string>
      <string>noteheadSlashHorizontalEndsMuted</string>
      <string>noteheadSlashWhiteMuted</string>
      <string>noteheadSlashWhiteDoubleWhole</string>
      <string>augmentationDot</string>
      <string>accidentalDoubleFlat</string>
      <string>accidentalParensLeft</string>
      <string>accidentalParensRight</string>
      <string>accidentalBracketLeft</string>
      <string>accidentalBracketRight</string>
      <string>fermataShortAbove</string>
      <string>fermataShortBelow</string>
      <string>fermataLongAbove</string>
      <string>fermataLongBelow</string>
      <string>fermataVeryLongAbove</string>
      <string>fermataVeryLongBelow</string>
      <string>accidentalFlatParens</string>
      <string>accidentalNaturalParens</string>
      <string>accidentalSharpParens</string>
      <string>accidentalDoubleSharpParens</string>
      <string>accidentalDoubleFlatParens</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>accidentalDoubleSharp</key>
      <string>uniE263</string>
      <key>accidentalDoupleFlat</key>
      <string>uniE264</string>
      <key>accidentalFlat</key>
      <string>uniE260</string>
      <key>accidentalNatural</key>
      <string>uniE261</string>
      <key>accidentalNaturalFlat</key>
      <string>uniE267</string>
      <key>accidentalNaturalSharp</key>
      <string>uniE268</string>
      <key>accidentalQuarterToneFlatStein</key>
      <string>uniE280</string>
      <key>accidentalSharp</key>
      <string>uniE262</string>
      <key>accidentalSharpSharp</key>
      <string>uniE269</string>
      <key>accidentalThreeQuarterTonesFlatZimmermann</key>
      <string>uniE281</string>
      <key>accidentalTripleFlat</key>
      <string>uniE266</string>
      <key>accidentalTripleSharp</key>
      <string>uniE265</string>
      <key>articAccentAbove</key>
      <string>uniE4A0</string>
      <key>articAccentBelow</key>
      <string>uniE4A1</string>
      <key>articMarcatoAbove</key>
      <string>uniE4AC</string>
      <key>articMarcatoBelow</key>
      <string>uniE4AD</string>
      <key>articMarcatoStaccatoAbove</key>
      <string>uniE4AE</string>
      <key>articMarcatoStaccatoBelow</key>
      <string>uniE4AF</string>
      <key>articTenutoAbove</key>
      <string>uniE4A4</string>
      <key>articTenutoBelow</key>
      <string>uniE4A5</string>
      <key>brace</key>
      <string>uniE000</string>
      <key>breathMarkComma</key>
      <string>uniE4CE</string>
      <key>cClef</key>
      <string>uniE05C</string>
      <key>cClef8vb</key>
      <string>uniE05D</string>
      <key>cClefFrench</key>
      <string>uniF408</string>
      <key>coda</key>
      <string>uniE048</string>
      <key>dynamicFF</key>
      <string>uniE52F</string>
      <key>dynamicFFF</key>
      <string>uniE530</string>
      <key>dynamicFFFF</key>
      <string>uniE531</string>
      <key>dynamicFFFFF</key>
      <string>uniE532</string>
      <key>dynamicForte</key>
      <string>uniE522</string>
      <key>dynamicFortePiano</key>
      <string>uniE534</string>
      <key>dynamicMF</key>
      <string>uniE52D</string>
      <key>dynamicMP</key>
      <string>uniE52C</string>
      <key>dynamicMezzo</key>
      <string>uniE521</string>
      <key>dynamicPF</key>
      <string>uniE52E</string>
      <key>dynamicPP</key>
      <string>uniE52B</string>
      <key>dynamicPPP</key>
      <string>uniE52A</string>
      <key>dynamicPPPP</key>
      <string>uniE529</string>
      <key>dynamicPPPPP</key>
      <string>uniE528</string>
      <key>dynamicPPPPPP</key>
      <string>uniE527</string>
      <key>dynamicPiano</key>
      <string>uniE520</string>
      <key>dynamicRinforzando</key>
      <string>uniE523</string>
      <key>dynamicRinforzando1</key>
      <string>uniE53C</string>
      <key>dynamicSforzando</key>
      <string>uniE524</string>
      <key>dynamicSforzando1</key>
      <string>uniE536</string>
      <key>dynamicSforzandoPianissimo</key>
      <string>uniE538</string>
      <key>dynamicSforzandoPiano</key>
      <string>uniE537</string>
      <key>fClef</key>
      <string>uniE062</string>
      <key>fClef15ma</key>
      <string>uniE066</string>
      <key>fClef15mb</key>
      <string>uniE063</string>
      <key>fClef8va</key>
      <string>uniE065</string>
      <key>fClef8vb</key>
      <string>uniE064</string>
      <key>fClefReversed</key>
      <string>uniE076</string>
      <key>fClefTurned</key>
      <string>uniE077</string>
      <key>fermataAbove</key>
      <string>uniE4C0</string>
      <key>fermataBelow</key>
      <string>uniE4C1</string>
      <key>fermataShortHenzeAbove</key>
      <string>uniE4CC</string>
      <key>fermataShortHenzeBelow</key>
      <string>uniE4CD</string>
      <key>flag16Down</key>
      <string>uniE243</string>
      <key>flag16thUp</key>
      <string>uniE242</string>
      <key>flag32ndUp</key>
      <string>uniE244</string>
      <key>flag8thDown</key>
      <string>uniE241</string>
      <key>flag8thUp</key>
      <string>uniE240</string>
      <key>gClef</key>
      <string>uniE050</string>
      <key>gClef15ma</key>
      <string>uniE054</string>
      <key>gClef15mb</key>
      <string>uniE051</string>
      <key>gClef8va</key>
      <string>uniE053</string>
      <key>gClef8vb</key>
      <string>uniE052</string>
      <key>gClef8vbCClef</key>
      <string>uniE056</string>
      <key>gClef8vbParens</key>
      <string>uniE057</string>
      <key>gClefReversed</key>
      <string>uniE073</string>
      <key>gClefTurned</key>
      <string>uniE074</string>
      <key>metNote8thDown</key>
      <string>uniECA8</string>
      <key>metNote8thUp</key>
      <string>uniECA7</string>
      <key>metNoteDoubleWhole</key>
      <string>uniECA0</string>
      <key>metNoteHalfDown</key>
      <string>uniECA4</string>
      <key>metNoteHalfUp</key>
      <string>uniECA3</string>
      <key>metNoteQuarterDown</key>
      <string>uniECA6</string>
      <key>metNoteQuarterUp</key>
      <string>uniECA5</string>
      <key>metNoteWhole</key>
      <string>uniECA2</string>
      <key>note8thDown</key>
      <string>uniE1D8</string>
      <key>note8thUp</key>
      <string>uniE1D7</string>
      <key>noteDoubleWhole</key>
      <string>uniE1D0</string>
      <key>noteHalfDown</key>
      <string>uniE1D4</string>
      <key>noteHalfUp</key>
      <string>uniE1D3</string>
      <key>noteHeadDoubleWhole</key>
      <string>uniE0A0</string>
      <key>noteQuarterDown</key>
      <string>uniE1D6</string>
      <key>noteWhole</key>
      <string>uniE1D2</string>
      <key>noteheadBlack</key>
      <string>uniE0A4</string>
      <key>noteheadHalf</key>
      <string>uniE0A3</string>
      <key>noteheadHalfWithX</key>
      <string>uniE0B6</string>
      <key>noteheadSlashedBlack1</key>
      <string>uniE0CF</string>
      <key>noteheadSlashedBlack2</key>
      <string>uniE0D0</string>
      <key>noteheadSlashedHalf1</key>
      <string>uniE0D1</string>
      <key>noteheadWhole</key>
      <string>uniE0A2</string>
      <key>noteheadXOrnate</key>
      <string>uniE0AA</string>
      <key>ornamentMordent</key>
      <string>uniE56D</string>
      <key>ornamentShortTrill</key>
      <string>uniE56C</string>
      <key>ornamentTreblement</key>
      <string>uniE56E</string>
      <key>ornamentTrill</key>
      <string>uniE566</string>
      <key>ornamentTurn</key>
      <string>uniE567</string>
      <key>ornamentTurnInverted</key>
      <string>uniE568</string>
      <key>ornamentTurnSlash</key>
      <string>uniE569</string>
      <key>ornamentTurnUp</key>
      <string>uniE56A</string>
      <key>ornamentTurnUpS</key>
      <string>uniE56B</string>
      <key>ottava</key>
      <string>uniE510</string>
      <key>ottavaAlta</key>
      <string>uniE511</string>
      <key>ottavaBassa</key>
      <string>uniE512</string>
      <key>ottavaBassaBa</key>
      <string>uniE513</string>
      <key>ottavaBassaVb</key>
      <string>uniE51C</string>
      <key>quarternoteStemUp</key>
      <string>uniE1D5</string>
      <key>rest128th</key>
      <string>uniE4EA</string>
      <key>rest16th</key>
      <string>uniE4E7</string>
      <key>rest32nd</key>
      <string>uniE4E8</string>
      <key>rest64th</key>
      <string>uniE4E9</string>
      <key>rest8th</key>
      <string>uniE4E6</string>
      <key>restHalf</key>
      <string>uniE4E4</string>
      <key>restQuarter</key>
      <string>uniE4E5</string>
      <key>restQuarterOld</key>
      <string>uniE4F2</string>
      <key>restQuarterZ</key>
      <string>uniE4F6</string>
      <key>restWhole</key>
      <string>uniE4E3</string>
      <key>reversedBrace</key>
      <string>uniE001</string>
      <key>segno</key>
      <string>uniE047</string>
      <key>systemDivider</key>
      <string>uniE007</string>
      <key>systemDividerExtraLong</key>
      <string>uniE009</string>
      <key>systemDividerLong</key>
      <string>uniE008</string>
      <key>timeSig0</key>
      <string>uniE080</string>
      <key>timeSig1</key>
      <string>uniE081</string>
      <key>timeSig2</key>
      <string>uniE082</string>
      <key>timeSig3</key>
      <string>uniE083</string>
      <key>timeSig4</key>
      <string>uniE084</string>
      <key>timeSig5</key>
      <string>uniE085</string>
      <key>timeSig6</key>
      <string>uniE086</string>
      <key>timeSig7</key>
      <string>uniE087</string>
      <key>timeSig8</key>
      <string>uniE088</string>
      <key>timeSig9</key>
      <string>uniE089</string>
      <key>timeSigComma</key>
      <string>uniE096</string>
      <key>timeSigCommon</key>
      <string>uniE08A</string>
      <key>timeSigCutCommon</key>
      <string>uniE08B</string>
      <key>tremolo1</key>
      <string>uniE220</string>
      <key>tremolo2</key>
      <string>uniE221</string>
      <key>tremolo3</key>
      <string>uniE222</string>
      <key>tuplet2</key>
      <string>uniE882</string>
      <key>tuplet3</key>
      <string>uniE883</string>
      <key>tuplet6</key>
      <string>uniE886</string>
    </dict>
  </dict>
</plist>
